@charset "EUC-KR";

input {
	outline: none; /* 선택했을때 기본으로 들어가는 퍼런 선 제거 */
	border: none;
	font-size: 15pt;
	background-color: transparent;
	border-bottom: #F361A6 solid 3px;
}

input.inputText {
	margin-left: auto;
	margin-right: auto;
	color: black;
	width: 400px;
}

table {
	background-color: #D9E5FF;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
}

.title {
	color: #6799FF;
	padding-left: 20px;
}

#btn{
	
}


