@charset "EUC-KR";

#commentsArea {
	width: 800px;
}

.orangeA {
	color: #E65100;
	font-weight: 800;
	font-size: 14pt;
}

.orangeA:hover {
	color: black;
}

#commentsWriteTable {
	margin-top: 50px;
	width: 500px;
	color: #616161;
	border: #616161 solid 3px;
	box-shadow: 7px 7px 7px #FFB74D;
	border-spacing: 0px;
}

#cwtTitle {
	font-size: 20pt;
	font-weight: 900;
	height: 60px;
	background-color: #616161;
	color: #FFB74D;
}

.cwtTd1 {
	height: 60px;
	width: 15%;
	font-size: 15pt;
	font-weight: 800;
	padding-left: 10px;
	width: 15%;
}

.cwtInput {
	width: 90%;
	border: #616161 solid 2px;
	height: 40px;
	padding-left: 7px;
	font-size: 13pt;
	font-family: 돋움;
}

.cwtTA {
	width: 89.5%;
	border: #616161 solid 2px;
	height: 130px;
	font-size: 13pt;
	padding-left: 7px;
	font-family: 돋움;
}

.cwtBtn {
	width: 90%;
	border: none;
	color: #616161;
	font-size: 18pt;
	font-weight: 900;
	background-color: transparent;
}

.cwtInput:focus, .cwtTA:focus {
	border: #FFB74D solid 2px;
}

#commentsTable {
	width: 750px;
	background-color: #616161;
	color: #FFB74D;
	font-weight: 800;
	border-spacing: 0px;
	box-shadow: 5px 5px 5px #FFB74D;
	margin-bottom: 10px;
}
#commentsTable tr td{
	padding-left: 10px;
}
.commentsTableData{
	font-weight: 500;
	background-color: white;
	color:black;
	height:35px;
}
.commentsTableData:hover{
	background-color: #FFE0B2;
}
.pageA{
	color:#616161;
	font-weight: 800;
}
.pageA:hover {
	color:#FFB74D;
}
#searchCmtInput{
	border:none;
	border-bottom:#616161 solid 2px;
	height: 20px;
}
#searchCmtBtn{
	height:26px;
	border:none;
	background-color:transparent;
	color:#616161;
}
#cdTable{
	width: 700px;
	border-spacing:0px;
	border:#616161 solid 2px;
}
.cdTd1{
	width:15%;
	padding-left:10px;
	background-color: #616161;
	color:#FFB74D;
	height: 50px;
	font-size: 15pt;
	font-weight: 800;
}
.cdTd2{
	padding-left:10px;
	color:#616161;
	font-size: 15pt;
	font-weight: 500;
}
.cdTd3{
	color:#FFB74D;
	background-color: #616161;
	height: 50px;
}
.cdBtn{
	background-color: transparent;
	color:#FFB74D;
	font-weight: 900;
	font-size: 15pt;
	border: none;
}
.cdI{
	border:none;
	color:#616161;
	font-size: 15pt;
	font-weight: 500;
}
.cdTA{
	border:none;
	color:#616161;
	font-size: 15pt;
	font-weight: 500;
	width:80%;
	height:350px;
}