@charset "EUC-KR";

table{
	background-color: #FAF4C0;
	margin-left:auto;
	margin-right:auto;
	border-spacing: 0px;
}

td {
	padding: 7px;
}

img{
	width:100px;
	height: 100px;
}

#rspImg{
	border: #B2EBF4 outset 8px;
}

#rspImg:hover{
	border:#FFB2F5 inset 8px;
}

#titleTd{
	font-size: 30pt;
	color : black;
	font-weight: 900;
}

#resultTd{
	font-size: 20pt;
	color : black;
	font-weight: 900;
}
